@import "../vars/colors.vars.scss";
@import "../vars/spacing.vars.scss";
@import "../vars/borders.vars.scss";

.button {
  // display: inline-block;
  background-color: $primary;
  padding: #{$spacing-2-5}px #{$spacing-4}px;
  border-radius: #{$border-radius}px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: darken($primary, 3%);
  }
}
