.services-card-layout {
  $desktop-offset-vertical-padding: 64;
  $desktop-offset-horizontal-padding: 50;

  display: grid;
  grid-template-columns: #{$desktop-offset-horizontal-padding}px auto 1fr;
  grid-template-rows: #{$desktop-offset-vertical-padding}px auto #{$desktop-offset-vertical-padding}px;
}

.features-section-top-card-layout {
  $screen-xl: 1500;

  display: grid;
  grid-template-columns: auto #{$screen-xl}px auto;
  grid-template-rows: 1fr 1fr;
}

.features-section-top-card-inner-layout {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr auto;
}

.testimonial-card-triangle {
  $size: 26;

  width: 0;
  height: 0;
  border-left: #{$size}px solid transparent;
  border-right: #{$size}px solid transparent;

  border-top: #{$size}px solid #ffffff;
  transform: translate(25%, -50%) rotate(90deg);
}
