/* CSS Variables */
:root {
  /* Main Colors */
  --primary-color: #c8102e;
  --secondary-color: #ffd00a;

  /* Gray Scale */
  --gray-100-color: #231f20;
  /* --gray-100-color: #272526;
  --gray-100-color: #707070;
  --gray-100-color: #BCBCBC;
  --gray-100-color: #F5F5F5;
  --gray-100-color: #FFFFFF;

  --gray-100-color: #00000040;
  --gray-100-color: #0000001A;
  --gray-100-color: #4A4A4A;
  --gray-100-color: #EBEBEB;

  --gray-100-color: #010101;
  --gray-100-color: #00000029;
  --gray-100-color: #4A4A4A00;
  --gray-100-color: #565656;
  --gray-100-color: #838383;
  --gray-100-color: #EAEAEA;

  --gray-100-color: #0000004D; */
}

/* Main */
main {
  height: 100vh;
}

/* Footer */
footer .bottom-banner {
  background-color: var(--gray-100-color);
  color: #ffffff;
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 2;
}
